html,body{
	padding:0;
	margin:0;
	margin-left:10%;
	margin-right:10%;
}


#head{
	width:100%;
	/*background-color:black;
	color:white;*/
}

#head>*{
	display:inline-block;
}


#menu{
	display:inline-block;
	position:relative;
}

#head a{
	text-decoration:none;
}

#head a:visited{
	text-decoration:none;
}
